
/dist
/build
*.spec
*.txt
Programm/svd_results
Hausarbeit/*.aux
Hausarbeit/*.bbl
Hausarbeit/*.bcf
Hausarbeit/*.blg
Hausarbeit/*.fls
Hausarbeit/*.log
Hausarbeit/*.fdb_latexmk
Hausarbeit/*.run.xml
Hausarbeit/*.toc
Hausarbeit/*.synctex.gz
